body {
  height: 2464px;
  width: 1500px;
  margin: 0 auto;
  padding: 0;
  font-size: 21px;
  background-color: brown;
}

.header {
  position: relative;
  height: 665px;
  background-color: #e9eae2;
}

/*Логотип*/
.header__logo {
  position: absolute;
  width: 48px;
  height: 48px;
  margin: 20px;
}

.rect-1 {
  fill: #f8c255;
}

.rect-2 {
  fill: #bfe79e;
}

.rect-3 {
  fill: #ff9b6d;
}

.rect-4 {
  fill: #7dd5c9;
}

/*треугольник*/
.header__triangle {
  position: absolute;
  width: 343px;
  height: 285px;
  top: 0;
  left: 184px;
}

.header__triangle_color {
  fill: #f9c34a;
}

.header__paginator {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  top: 89px;
  left: 132px;
  width: 81px;
  height: 52px;
  padding: 0;
  white-space: nowrap;
}

.header__paginator a,
.header__paginator img {
  align-self: center;
}

.header__price-and-item {
  position: absolute;
  display: flex;
  top: 169px;
  left: -133px;
  width: 506px;
  margin-bottom: 100px;
}

h2 {
  width: 223px;
  height: 61px;
  color: #969693;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 100;
  line-height: 37.5px;
  word-spacing: -1px;
}

.header__price-and-item img {
  mix-blend-mode: multiply;
  margin-left: -132px;
}

.header__tagline {
  position: absolute;
  top: 146px;
  left: 455px;
  width: 325px;
}

.header__tagline .avatar {
  /* Style for "Layer 6" */
  width: 61px;
  height: 61px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url(../img/Layer_6.png);
  background-position: 35% 15%;
  background-size: 300%;
  filter: grayscale(1);
}

h3 {
  /* Style for "BY MATERIA" */
  margin: 18px auto;
  width: 165px;
  height: 12px;
  color: #adada7;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 900;
  line-height: 17px;
  text-transform: uppercase;
}

h1 {
  /* Style for "Good Thing" */
  width: 325px;
  height: 161px;
  color: #3f3f3e;
  font-family: "Roboto";
  font-size: 56px;
  font-weight: 100;
  line-height: 58.94px;
  text-align: center;
}

/*-----------navigation--------------*/
.menu {
  display: flex;
  flex-direction: row;
  position: relative;
  /* Style for "Layer 15" */
  top: 0;
  left: 1046px;
  width: 455px;
  height: 665px;
  background-color: #e9eae2;
}

.buttons-navi {
  /* Style for "Rectangle" */
  width: 70px;
  height: 665px;
  
}

.b-home {
  /* Style for "Rectangle" */
  margin-top: 60px;
  width: 70px;
  height: 60px;
  background-color: #86d8cd;
  text-align: center;
  vertical-align: middle;
}
.icon-n {
  display: inline-block;
  margin-top: 18px;
  width: 30px;
  height: 24px;

  background-image: url("../sprite/sprites-n.png");
  background-repeat: no-repeat;
}
.icon-home {
  background-position: -12px -15px ;
  width: 30px;
  height: 24px;
}

.b-fav {
  /* Style for "Rectangle" */
  width: 70px;
  height: 60px;

  text-align: center;
}
.icon-fav {
  background-position: -59px -12px ;
	width: 32px;
	height: 27px;
}

.search {
  /* Style for "Rectangle" */
  width: 70px;
  height: 60px;

  text-align: center;
}
.icon-search {
  background-position: -112px -3px ;
	width: 25px;
	height: 36px;
}

.navigation-menu {
  /* Style for "Layer 15" */
  display: flex;
  flex-wrap: wrap;
  width: 385px;
  height: 665px;
  background-image: url("../img/Layer_15.jpg");

}

.b-close {
  width: 385px;
  height: 85px;

}

.border {
  position: relative;
  top: 26px;
  left: 335px;
  width: 25px;
  height: 25px;

}

.close {
  position: relative;
  width: 22px;
  height: 22px;
  opacity: 0.5;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 10px;
  content: ' ';
  height: 21px;
  width: 2px;
  background-color: #3ab3a6;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.name-site {
  height: 18px;
  width: 385px;

}

.name-site p {
  /* Style for "WAREHOUSE" */
  margin-top: 0;
  margin-left: 34px;
  color: #979797;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

/*--icons----*/
.size {
  width: 190px;
  height: 100px;

  text-align: center;
  padding-top: 30px;
}

.linkall {
  margin-top: 22px;
  text-decoration: none;
  color: #3ab3a6;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: bottom;
  background-image: url("../sprite/sprites-m.png");
  background-repeat: no-repeat;
}

.icon1 {
  background-position: -4px -26px;
  width: 34px;
  height: 20px;
}

.icon2 {
  background-position: -62px -15px;
  width: 20px;
  height: 31px;
}

.icon3 {
  background-position: -104px -11px;
  width: 13px;
  height: 35px;
}

.icon4 {
  background-position: -142px -20px;
  width: 41px;
  height: 26px;
}

.icon5 {
  background-position: -203px -13px;
  width: 33px;
  height: 33px;
}

.icon6 {
  background-position: -259px -13px;
  width: 9px;
  height: 33px;
}

.icon7 {
  background-position: -287px -7px;
  width: 34px;
  height: 39px;
}

/*-----------------main-------------*/
.main {
  display: flex;
  flex-direction: column;
  height: 1454px;
}

.pots {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 377px;
  background-color: #f5f5f5;
}

.pots__element1 {
  /* Style for "Shape 3" */
  width: 374px;
  height: 377px;
  background-color: #7dd5c9;
  background-image:
    linear-gradient(225deg, #f5f5f5 25%, transparent 25%),
    linear-gradient(315deg, #f5f5f5 25%, transparent 25%);
  background-position:
    345px 0,
    345px 0;
  background-size: 30px 30px;
  background-repeat: repeat-y;
}

.pots__element1-image {
  /* Style for "Tea Pots" */
  margin: 0 auto;
  margin-top: 123px;
  width: 128px;
  height: 79px;
  background-image: url(../img/sprites.png);
  background-size: 380%;
  background-position: 0 -50px;
}

.pots__element1-link {
  margin: 40px auto;
  width: 121px;
  height: 34px;
  text-decoration: none;
}

.pots__element1-link a {
  text-decoration: none;
}

.pots__element1-link h4,
.pots__element1-link h5 {
  margin: 0;
  text-align: center;
}

h4 {
  /* Style for "Seven pots" */
  color: #266258;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 300;
  text-transform: uppercase;
}

h5 {
  /* Style for "Collection" */
  color: #438a7e;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.pots__price {
  width: 324px;
}

.pots__price-text {
  margin-top: 40px;
  margin-left: 40px;
}

.heart-button {
  position: relative;
  display: inline-block;
  color: #fff;
  margin-left: 40px;
  margin-top: 40px;
}

.heart-button label {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  text-align: left;
  color: #c5c5c5;
  height: 14px;
  color: #c5c5c5;
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Roboto";
}

/*button ready*/
.heart-button input {
  display: none;
}

.heart-button_favs {
  width: 100px;
  height: 20px;
}

.heart-button_favs label {
  position: absolute;
  left: 0;
  width: 200px;
  height: 20px;
  line-height: 20px;
  transition: all 0.2s;
}

.heart-button_favs label:before,
.heart-button_favs label:after {
  position: absolute;
  top: 0;
  left: 30px;
  transition: all 0.2s .1s ease-out;
}

/*need*/
.heart-button_favs label:before {
  content: attr(data-on-text);
}

.heart-button_favs label:after {
  content: attr(data-off-text);
}

[id='heartButton']:checked+label {
  color: #e2264d;
}

.heart-button_favs input+label:before {
  opacity: 0;
  transform: translate(20px, 0);
  color: #c5c5c5;
}

.heart-button_favs input+label:after {
  opacity: 1;
  transform: translate(0, 0);
  color: #c5c5c5;
}

.heart-button_favs input:checked~label:before {
  opacity: 1;
  transform: translate(0, 0);
}

.heart-button_favs input:checked~label:after {
  opacity: 0;
  transform: translate(20px, 0);
}

/*-------------------*/
.popular__image {
  width: 398px;
}

.popular__image img {
  position: absolute;
  bottom: 0;
  text-align: center;
}

.popular__tagline {
  width: 349px;
}

.popular__tagline .avatar {
  width: 61px;
  height: 61px;
  margin-top: 75px;
  margin-left: 129px;
  border-radius: 50%;
  background-image: url(../img/Layer_11.png);
  background-position: 35% 15%;
  background-size: 100%;
  filter: grayscale(1);
}

.popular__tagline .text2 h1 {
  text-align: left;
  margin-left: 91px;
}

.popular__button {
  width: 38px;
}

.popular__button .triangle {
  border-right: 2px solid #c5c5c5;
  border-bottom: 2px solid #c5c5c5;
  height: 8px;
  width: 8px;
  transform: rotate(-45deg);
  margin-left: 5px;
  margin-top: 185px;
}

/*----------------------------------------*/
.rooms {
  height: 330px;
  background: url(../img/Layer_14.jpg) no-repeat;
}

.rooms__content {
  /* Style for "Ellipse 2" */
  position: relative;
  width: 161px;
  height: 162px;
  background-color: #f5f5f5;
  border-radius: 50%;
  top: 80px;
  left: 492px;
  text-align: center;
}

.rooms__content h4 {
  margin: 0;
  margin-top: 20px;
  color: #939393;
  font-size: 17px;
}

.rooms__content a {
  position: relative;
  top: 53px;
  text-decoration: none;
}

.rooms__content a .block1 {
  margin: 0 auto;
  width: 32px;
  height: 26px;
  background: url("../img/Shape_9.png") no-repeat;
  background-position: center;
}

.rooms__content a .block2 {
  margin: 0 auto;
  width: 32px;
  height: 26px;
  background: url("../img/Shape_8.png") no-repeat;
  background-position: center;
}

.item3 {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 377px;
  background-color: #f5f5f5;
}

.pots__price1 {
  width: 324px;
}

.pots__price-text1 {
  width: 300px;
  margin-top: 40px;
  margin-left: 54px;
}

.heart-button1 {
  position: relative;
  display: inline-block;
  color: #fff;
  margin-left: 54px;
  margin-top: 40px;
}

.heart-button1 label {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  text-align: left;
  color: #c5c5c5;
  height: 14px;
  color: #c5c5c5;
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Roboto";
}

/*button ready*/
.heart-button1 input {
  display: none;
}

.heart-button_favs1 {
  width: 100px;
  height: 20px;
}

.heart-button_favs1 label {
  position: absolute;
  left: 0;
  width: 200px;
  height: 20px;
  line-height: 20px;
  transition: all 0.2s;
}

.heart-button_favs1 label:before,
.heart-button_favs1 label:after {
  position: absolute;
  top: 0;
  left: 30px;
  transition: all 0.2s .1s ease-out;
}

/*need*/
.heart-button_favs1 label:before {
  content: attr(data-on-text);
}

.heart-button_favs1 label:after {
  content: attr(data-off-text);
}

[id='heartButton1']:checked+label {
  color: #e2264d;
}

.heart-button_favs1 input+label:before {
  opacity: 0;
  transform: translate(20px, 0);
  color: #c5c5c5;
}

.heart-button_favs1 input+label:after {
  opacity: 1;
  transform: translate(0, 0);
  color: #c5c5c5;
}

.heart-button_favs1 input:checked~label:before {
  opacity: 1;
  transform: translate(0, 0);
}

.heart-button_favs1 input:checked~label:after {
  opacity: 0;
  transform: translate(20px, 0);
}

.popular__image1 {
  width: 434px;
  height: 371px;
}

.popular__image1 img {
  position: relative;
  bottom: -89px;
  left: 88px;
}

.popular__tagline1 {
  width: 360px;
}

.popular__tagline1 .avatar1 {
  width: 61px;
  height: 61px;
  margin-top: 75px;
  margin-left: 129px;
  border-radius: 50%;
  background-image: url(../img/Layer_12.png);
  background-position: 35% 15%;
  background-size: 100%;
  filter: grayscale(1);
}

.popular__tagline1 .text22 h1 {
  text-align: left;
  margin-left: 91px;
}

.pots__element2 {
  /* Style for "Shape 3" */
  width: 385px;
  height: 377px;
  background-color: #bfe79e;
  background-image:
    linear-gradient(135deg, #f5f5f5 25%, transparent 25%),
    linear-gradient(45deg, #f5f5f5 25%, transparent 25%);
  background-position:
    0px 0,
    0px 0;
  background-size: 30px 30px;
  background-repeat: repeat-y;
}

.pots__element1-image2 {
  /* Style for "Tea Pots" */
  margin: 0 auto;
  margin-top: 123px;
  width: 48px;
  height: 110px;
  background: url(../img/layer_39.png) no-repeat;
}

.pots__element1-link2 {
  margin: 40px auto;
  width: 121px;
  height: 34px;
  text-decoration: none;
}

.pots__element1-link2 a {
  text-decoration: none;
}

.pots__element1-link2 h4,
.pots__element1-link2 h5 {
  margin: 0;
  text-align: center;
}

/*---------------------------------------------*/
.pots3 {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 377px;
  background-color: #ffffff;
}

.pots__element3 {
  /* Style for "Shape 3" */
  width: 374px;
  height: 377px;
  background-color: #f8c255;
  background-image:
    linear-gradient(225deg, #ffffff 25%, transparent 25%),
    linear-gradient(315deg, #ffffff 25%, transparent 25%);
  background-position:
    345px 0,
    345px 0;
  background-size: 30px 30px;
  background-repeat: repeat-y;
}

.pots__element3-image {
  /* Style for "Tea Pots" */
  margin: 0 auto;
  margin-top: 123px;
  width: 128px;
  height: 115px;
  background: url(../img/Layer_40_copy.png) no-repeat;
}

.pots__element3-link {
  margin: 40px auto;
  width: 121px;
  height: 34px;
  text-decoration: none;
}

.pots__element3-link a {
  text-decoration: none;
}

.pots__element3-link h4,
.pots__element3-link h5 {
  margin: 0;
  text-align: center;
}

.pots__price3 {
  width: 324px;
}

.pots__price-text3 {
  margin-top: 40px;
  margin-left: 40px;
}

.heart-button3 {
  position: relative;
  display: inline-block;
  color: #fff;
  margin-left: 40px;
  margin-top: 40px;
}

.heart-button3 label {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  text-align: left;
  color: #c5c5c5;
  height: 14px;
  color: #c5c5c5;
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Roboto";
}

/*button ready*/
.heart-button3 input {
  display: none;
}

.heart-button_favs3 {
  width: 100px;
  height: 20px;
}

.heart-button_favs3 label {
  position: absolute;
  left: 0;
  width: 200px;
  height: 20px;
  line-height: 20px;
  transition: all 0.2s;
}

.heart-button_favs3 label:before,
.heart-button_favs3 label:after {
  position: absolute;
  top: 0;
  left: 30px;
  transition: all 0.2s .1s ease-out;
}

/*need*/
.heart-button_favs3 label:before {
  content: attr(data-on-text);
}

.heart-button_favs3 label:after {
  content: attr(data-off-text);
}

[id='heartButton3']:checked+label {
  color: #e2264d;
}

.heart-button_favs3 input+label:before {
  opacity: 0;
  transform: translate(20px, 0);
  color: #c5c5c5;
}

.heart-button_favs3 input+label:after {
  opacity: 1;
  transform: translate(0, 0);
  color: #c5c5c5;
}

.heart-button_favs3 input:checked~label:before {
  opacity: 1;
  transform: translate(0, 0);
}

.heart-button_favs3 input:checked~label:after {
  opacity: 0;
  transform: translate(20px, 0);
}

/*-------------------*/
.popular__image3 {
  width: 425px;
}

.popular__image3 img {
  position: absolute;
  bottom: 0;
  text-align: center;
}

.popular__tagline3 {
  width: 349px;
}

.popular__tagline3 .avatar3 {
  width: 61px;
  height: 61px;
  margin-top: 75px;
  margin-left: 129px;
  border-radius: 50%;
  background-image: url(../img/Layer_40.png);
  background-position: 35% 15%;
  background-size: 100%;
  filter: grayscale(1);
}

.popular__tagline3 .text2-3 h1 {
  text-align: left;
  margin-left: 91px;
}

/*-----------footer--------------*/
.footer {
  display: flex;
  height: 352px;
  width: 1502px;
  background-image: url(../img/Layer_24.jpg);
  background-size: 100%;
}

.company {
  width: 900px;
  color: #7c7a7a;
}

.company_img {
  height: 63px;
  width: 210px;
  margin-top: 171px;
  margin-left: 47px;
  background: url(../img/sprite.png) no-repeat;
  background-size: 100%;
  background-position: 0 0;
  filter: grayscale(1)
}

.company p {
  /* Style for "2014 WARE" */
  width: 626px;
  height: 16px;
  margin-top: 47px;
  margin-left: 48px;
  color: #7c7a7a;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 15.94px;
}

.logo {
  width: 602px;
}

.footer__logo {
  display: flex;
  width: 200px;
  height: 100px;
  margin-left: 261px;
  margin-top: 121px;
}

.logo p {
  /* Style for "warehouse" */
  width: 142px;
  height: 23px;
  margin-left: 295px;
  color: #a7a2a2;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 300;
  line-height: 28.36px;
}
